BASEROW_TOKEN=
GIGA_CLIENT_ID=83142311_JPN_release
GIGA_CLIENT_SECRET=
GIGA_API_BASE_URL=https://openapi.gigab2b.com
R2_PUBLIC_BASE_URL=
WRANGLER_CONFIG=
DEEPSEEK_API_KEY=
MERCARI_SHOP1_TOKEN=
MERCARI_SHOP2_TOKEN=
MERCARI_SHOP3_TOKEN=
MERCARI_SHOP4_TOKEN=
